.hero {
  background: $color-woodsmoke;
  width: 100%;
  height: 1011px;
  @include media('<lg') {
    height: 800px;
  }
  &-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  &-text {
    text-align: center;
    width: 100%;
    font-family: $font-popins;
    color: $color-white;
    & h1 {
      font-size: 76px;
      font-weight: 400;
      line-height: 1.4;
      @include media('<lg') {
        font-size: 30px;
        line-height: 1.4;
        font-weight: bolder;
      }
    }

    & p:nth-child(1){
      opacity: 0.5;
      font-weight: 700;
      line-height: 2;
    }

    & p {
      font-size: 24px;
      font-weight: 300;
      line-height: 2;
      @include media('<lg') {
        font-size: 20px;
        line-height: unset;
        opacity: 0.8;
      }
    }
    
    & button {
      border: 14px solid $color-pale-sky;
    }
  }
}