/* Colors
   ========================================================================== */

/**
 * Set colors used in project. e.g $color-name: #hexvalue
 */

$color-black: #000000;
$color-white: #ffffff;

// project colors

$color-woodsmoke: #171818;
$color-pale-sky: #606F85;
$color-fiord: #4e5b6e;
$color-malachite: #12CF6A;
$color-pickled-bluewood: #29384d;
$color-jade: #00b353;
$color-dodger-blue: #188afd;
$color-torea-bay: #0f448b;
$color-link-water:#eef4fa;
$color-cloud-burst: #20334d;
$color-whitper: #f9f9fc;